# **Lab 1**
> # **Name  : Rameez Anwar**
> # **Reg # : B22F0150Ai102**
> # **Lab   : Machine Learning**
> # **Instructor: Dr. Zakir Khan**

# **Task 1: Python Basics Review**

In [ ]:
# Defines two variables (one integer, one string).
a=10
b="Rameez"
# Uses an if-else statement to print a message depending on the value of the integer.
if a >5:
 print("Number is greater than 5")
else:
  print("Number is smaler than 5")

Number is greater than 5

In [ ]:
# Creates a list of five elements and prints the first three.
numbers =[1,2,3,4,5]
for i in range(3):
  print(numbers[i])

1
2
3

In [ ]:
#	Defines a function that multiplies two numbers and prints the result.
def mul(a,b):
  return a*b
mul(2,3)

6

# **Task 2: NumPy and Pandas**

In [ ]:
# 1.	Create a NumPy array of numbers from 1 to 10 and calculate the mean.
import numpy as np
arr = np.array([1,2,3,4,5,6,7,8,9,10])
np.mean(arr)

5.5

In [ ]:
# 2.	Create a Pandas DataFrame using a dictionary with at least two columns (e.g., Name and Score) and print the first two rows.
import pandas as pd
student = {
    "name": ["Rameez","Ahmed","Ali"],
    "score":[88,98,39]
}
df=pd.DataFrame(student)
print(df.head(2))

     name  score
0  Rameez     88
1   Ahmed     98

# **Homework Assignment**

**Homework Task 1: Python Functions and Loops**

In [ ]:
#	Accepts user input for three numbers.
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
num3=float(input("Enter third number: "))

# Calculates and prints the average of these numbers using a function.
def avg(num1,num2,num3):
  return (num1+num2+num3)/3
print("Average is: ",avg(num1,num2,num3))

Enter first number: 5
Enter second number: 3
Enter third number: 10
Average is:  6.0

In [ ]:
# Uses a loop to display numbers from 1 to 10, but only prints even numbers.
for i in range(1,11):
  if i%2==0:
    print(i)

2
4
6
8
10

**Homework Task 2: NumPy and Data Analysis**

In [ ]:
# 1.	Creates a NumPy array of random numbers (size 10) and calculates the standard deviation.
number = np.random.rand(10)
np.std(number)

0.28837365411410915

In [ ]:
# 2.	Loads a dataset into a Pandas DataFrame, prints the column names, and displays the summary statistics for numerical columns.
dataset = {
    "name":["Rameez","Ahmed","Ali"],
    "score":[88,98,39],
    "program":['AI',"CS","SE"]
}

df=pd.DataFrame(dataset)
print(df.columns)
print(df.describe())

Index(['name', 'score', 'program'], dtype='object')
           score
count   3.000000
mean   75.000000
std    31.575307
min    39.000000
25%    63.500000
50%    88.000000
75%    93.000000
max    98.000000

# **Additional Tasks Lab 01**

**Task 1**

In [ ]:
#  1. Create a Python script that accepts a user's first and last name as input.
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
#  2. Combine the names and print a welcome message, e.g., "Welcome, John Doe!"
print("Welcome, "+first_name+" "+last_name+"!")
#  3. Create a list of five cities and use a loop to print each city in uppercase letters.
cities =['Abbottabad','Haripur','Peshawar','Islamabad','Multan']
for city in cities:
  print(city.upper())

Enter your first name: Rameez
Enter your last name: Anwar
Welcome, Rameez Anwar!
ABBOTTABAD
HARIPUR
PESHAWAR
ISLAMABAD
MULTAN

**Task 2**

In [ ]:
# 1. Write a Python function that accepts a list of numbers and returns the maximum number.
def max_num(numbers):
  return max(numbers)
max_num([1,5,7,100,200])

200

In [ ]:
# 2. Write another function that checks if a number is prime.
def prime(num):
  if num>1:
    if num == 2 or num % 2 !=0:
      print(num,'is a prime number')
    else:
      print(num,'is not a prime number')
  else:
    print(num,'is not a prime number')
# 3. Create a loop that calls the prime-checking function on numbers from 1 to 20 and prints whether each number is prime or not.
for i in range(1,21):
  prime(i)

1 is not a prime number
2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is a prime number
16 is not a prime number
17 is a prime number
18 is not a prime number
19 is a prime number
20 is not a prime number

**Task 3**

In [ ]:
#1. Create a NumPy array of 10 random integers between 1 and 50.
import numpy as np
arr = np.random.randint(1,50,10)
print(arr)
#2. Calculate the sum, mean, and standard deviation of the array.
print('Sum is',arr.sum())
print('Mean is',arr.mean())
print('Standard deviation is',arr.std())
#3. Sort the array in ascending order and print the sorted array.
print('Sorted Array',np.sort(arr))

[46 42 32 27 20 20 38 16 45 16]
Sum is 302
Mean is 30.2
Standard deviation is 11.373653766490344
Sorted Array [16 16 20 20 27 32 38 42 45 46]

**Task 4**

In [ ]:
import pandas as pd
#1. Create a Pandas DataFrame with three columns: Name, Age, and Score.
#2. Add data for at least five students.
students = {
    'Name':["Rameez",'Ahmed','Ali','Umer','Azeem'],
    'Age':[22,34,34,23,33],
    'Score':[80,60,71,69,90]
}

df= pd.DataFrame(students)
print(df)

     Name  Age  Score
0  Rameez   22     80
1   Ahmed   34     60
2     Ali   34     71
3    Umer   23     69
4   Azeem   33     90

In [ ]:
# 3. Calculate the average score and filter out students who scored below 70.

print("\nAverage Score is",df['Score'].mean())
score70= df[df['Score']<70]
print('\nStudents score below 70\n',score70)

Average Score is 74.0

Students score below 70
     Name  Age  Score
1  Ahmed   34     60
3   Umer   23     69

In [ ]:
# 4. Print the names of students who passed (scored 70 or above).
above70= df[df['Score']>=70]
print("Students having 70 or more Score")
print(above70)

Students having 70 or more Score
     Name  Age  Score
0  Rameez   22     80
2     Ali   34     71
4   Azeem   33     90

**Task 5**

In [ ]:
#1. Write Python code to generate the first 10 Fibonacci numbers.
def fibonacci(n):
  if n <= 0:
    return []
  elif n == 1:
    return [0]
  else:
    list_fib = [0, 1]
    while len(list_fib) < n:
      next_fib = list_fib[-1] + list_fib[-2]
      list_fib.append(next_fib)
    return list_fib

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]